
img {
    width: 100px;
    height: 120px;
}

.card-back, .card-front {
    position: absolute;
    backface-visibility: hidden
}

.card-back {
    transform: rotateY(180deg)
}

.card {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 1.5s;
    width: 100px;
    height: 120px;
    align-items: center
}

.play-area {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    justify-content: center
}

.hidden {
    transform: rotateY(0deg)
}